---
# tasks file for ansible-role-komodo-edit

# -------------
# Platform conditional install and configuration
# -------------
#- include: setup-Debian.yml
#  when: ansible_distribution == 'Debian'

- include: setup-Darwin.yml
  when:  ansible_os_family == 'Darwin'

- include: setup-Ubuntu.yml
  when: ansible_distribution == 'Ubuntu'
